*{
    margin: 0;
    padding: 0;
}

body{
    background:#278ea5;
    display:flex;
    justify-content: center;
    align-items: center;
}

body h1{
    font-family: 'Press Start 2P', cursive;
    position: absolute;
    top: 40%;
}

span::after{
    content: '';
    animation: emoji 3s infinite;
}

@keyframes emoji{
    0% {content: '💻'}

    50%{content: '🍕';}

    100%{content: '🎮';}
}